<div class="container">
    <div class="my-2 d-flex btn-group btn-group-toggle">
        <div *ngFor="let item of filters">
            <span class="btn mx-1 btn-secondary" (click)="updateFilters(item)" 
            [ngClass]="selectedFilter == item ? 'active' : ''">{{item.key| titlecase}}</span>
        </div>
    </div>
    <div class="my-2" style="max-height:80vh;overflow-y:auto">
        <div *ngFor="let listItem of listingData;let i=index" class=" d-flex border border-1 rounded-2 p-2 my-2">
            <span class="">
                <ng-container >{{listItem.email}}</ng-container>
            </span>
            <span *ngIf="selectedFilter.delete ==false" class="me-0 ms-auto"><button type="button" class="btn-close" aria-label="Close" (click)="deleteUser(listItem)"></button></span>
        </div>
    </div>
</div>
