<div class="container">
    <div class="my-2 d-flex btn-group btn-group-toggle">
        <div *ngFor="let item of filters">
            <span class="btn mx-1 btn-secondary" (click)="updateFilters(item)" 
            [ngClass]="selectedFilter == item ? 'active' : ''">{{item | titlecase}}</span>
        </div>
    </div>
    <div class="my-2" style="max-height:80vh;overflow-y:auto">
        <div *ngFor="let listItem of listingData;let i=index" class=" d-flex border border-1 rounded-2 p-2 my-2 align-items-center">
            <span class="me-2">
                <input type="checkbox" [checked]="listItem.status != this.statusConst.PENDING" (click)="updateTodoStatus(listItem,i)">
            </span>
            <span class="d-flex w-100 justify-content-between">
                <ng-container *ngIf="listItem.status != this.statusConst.PENDING" ><s>{{listItem.task}}</s></ng-container>
                <ng-container *ngIf="listItem.status == this.statusConst.PENDING" >
                    <span class="my-auto">{{listItem.task}}</span>
                    <ng-container *ngIf="listItem.type == filetypeConst.AUDIO || listItem.type == filetypeConst.VIDEO">
                        <button type="button" class="btn btn-sm btn-dark rounded-4 text-end mx-2" data-toggle="modal" data-target="#fileVisModal" (click)="showFile(listItem)">View</button>
                    </ng-container>
                </ng-container>
            </span>
            <span class="me-0 ms-auto"><button type="button" class="btn-close" aria-label="Close" (click)="deleteTodo(listItem)"></button></span>
        </div>
    </div>
    <div class="form-control border-2 my-2 d-flex justify-content-between">
        <div *ngIf="selectedFile && selectedFileBlobUrl;else todoTextInput" >
            <p>{{selectedFile.name}}</p>
            <video *ngIf="fileType == filetypeConst.VIDEO;else audioVisualizer" controls class="form-control border-0 rounded-2 me-2 w-100" [src]="selectedFileBlobUrl"></video>
            <ng-template #audioVisualizer>
                <audio controls>
                    <source [src]="selectedFileBlobUrl" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </ng-template>
        </div>
        <ng-template #todoTextInput>
            <input type="text" class="form-control border-0 me-2 w-100" [placeholder]="'Enter your task'" [(ngModel)]="newTodoItem.task">
        </ng-template>
        
        <div class="d-flex text-end">
            <label *ngIf="!selectedFile" class="pi pi-link cursor-pointer my-auto me-2" for="fileUploader">
                <input type="file" hidden id="fileUploader"  #fileUpload (change)="onSelectFile($event)">
            </label>
            <button *ngIf="selectedFileBlobUrl" class="btn btn-dark radius-5 border" (click)="cancelFileUpload()">Cancel</button>
            <button class="btn btn-dark radius-5 border" (click)="addData()">
                Add
            </button>
        </div>
    </div>
</div>


<p-dialog header="File Viz" [modal]="showModal" [(visible)]="showModal" [style]="{ width: '25rem' }">
    <div>
        <ng-container *ngIf="displayFileData?.type == filetypeConst.VIDEO">
            <video controls class="form-control border-0 rounded-2 me-2 w-100" async [src]="fileData"></video>
        </ng-container>
        <ng-container *ngIf="displayFileData?.type == filetypeConst.AUDIO">
                <audio controls async [src]="fileData" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
        </ng-container>
    </div>
    <div class="d-flex justify-content-end gap-2">
        <button class="btn btn-primary" (click)="showModal = false" >Close</button>
    </div>
</p-dialog>
